<div id="app">
    <!--<div id="menu"></div>-->

    <!--<div id="search"></div>-->

    <app-marker-filters
        [markerTypes]="markerTypes"
        [selectedMarkerTypes]="selectedMarkerTypes"
        (selectedMarkerTypesChanged)="onSelectedMarkerTypesChanged($event)"
    ></app-marker-filters>

    <!--<app-marker-details></app-marker-details>-->

    <app-map
        [markerTypes]="markerTypes"
        [selectedMarkerTypes]="selectedMarkerTypes"
        [selectedMarker]="selectedMarker"
        (markerSelected)="onMarkerSelected($event)"
    ></app-map>
</div>