<div id="app">
    <!--<div id="menu"></div>-->

    <!--<div id="search"></div>-->

    <app-marker-filters
        [markerCategories]="markerCategories"
        [markerCategoriesIndex]="markerCategoriesIndex"
        [selectedMarkerTypes]="selectedMarkerTypes"
        (selectedMarkerTypesChanged)="onSelectedMarkerTypesChanged($event)"
    ></app-marker-filters>

    <app-marker-details [selectedMarker]="selectedMarker"></app-marker-details>

    <app-map
        [markerTypes]="markerTypes"
        [markerTypesIndex]="markerTypesIndex"
        [selectedMarkerTypes]="selectedMarkerTypes"
        [selectedMarker]="selectedMarker"
        (markerSelected)="onMarkerSelected($event)"
    ></app-map>
</div>