<main id="app">
    <header id="map-header">
        <div id="header-wrapper">
            <div id="main-menu" class="d-flex align-items-center">
                <button class="btn">
                    <div class="menu-icon flex-shrink-1"></div>
                </button>

                <div id="search" class="flex-grow-1">
                    <input type="search" id="q" name="q" placeholder="Hyrule Castle...">
                </div>
            </div>
        </div>
    </header>

    <aside id="map-modifiers">
        <button id="layers" class="btn btn-primary">
            L
        </button>

        <div id="sidebar">
            <button id="close-sidebar">
                X
            </button>

            <main style="background: white;">
                <div class="d-flex flex-wrap">
                    <div style="height:30px; width:30px"></div>
                    <div style="height:30px; width:30px"></div>
                    <div style="height:30px; width:30px"></div>
                    <div style="height:30px; width:30px"></div>
                    <div style="height:30px; width:30px"></div>
                </div>
            </main>
        </div>
    </aside>

    <aside id="marker-details">
        <div id="marker-details-wrapper">

        </div>
    </aside>

    <div id="loader">
        <div id="loader-orb-wrapper">
            <div id="loader-orb-0" class="loader-orb"></div>
            <div id="loader-orb-1" class="loader-orb"></div>
            <div id="loader-orb-2" class="loader-orb"></div>
            <div id="loader-orb-3" class="loader-orb"></div>
            <div id="loader-orb-4" class="loader-orb"></div>
            <div id="loader-orb-5" class="loader-orb"></div>
        </div>
    </div>

    <app-map></app-map>
</main>